source = ["./dist/qbee-cli-macos-universal_darwin_all/qbee-cli"]
bundle_id = "io.qbee.qbee-cli"

sign {
  application_identity = "$AC_APPLICATION_IDENTITY"
}

dmg {
  output_path = "./dist/qbee-cli.dmg"
  volume_name = "qbee-cli"
}

zip {
  output_path = "./dist/qbee-cli.zip"
}
