source = ["./dist/qbee-cli-macos_darwin_amd64_v1/qbee-cli"]
bundle_id = "io.qbee.qbee-cli"

sign {
  application_identity = "$AC_APPLICATION_IDENTITY"
}

dmg {
  output_path = "./dist/qbee-cli.dmg"
  volume_name = "qbee-cli"
}
