name: static-checks
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.4'
      - name: Build and test
        run: go test ./...
      - id: govulncheck
        uses: golang/govulncheck-action@v1
      - name: golint
        run: go run golang.org/x/lint/golint@latest ./...
      - name: govet
        run: go vet ./...